html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.profile-box {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  border: 2px solid #040404;
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 1;
}

.top-third {
  height: 33%;
  display: fill;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.bottom-third {
  height: 67%;
  background-color: #cde8d1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Courier new', monospace;
  font-weight: bold; 
  font-size: 100%;
}

.profile-picture {
  width: 30%;
  height: 25%;
  border-radius: 50%;
  border: 3px solid #050202;
  position: absolute;
  top: 25%;
  left: 4%;
}

.username {
  margin-left: -12%;
  font-size: 70%;
  color: rgb(30, 73, 56);
  position:absolute;
  margin-top: -38%;
}

.profile-box .description {
  opacity:0;
  justify-content: center;
  font-size: 70%;
  margin-top: -10%; 
  display: flex;
  margin-left: -50%;
  position:absolute;
  text-align: center;
  transition: all 0.5s ease-in;
  transition: all 0.2s ease-out;
  color: #435543;
}

.profile-box:hover .description {
  opacity:1;  
  height: auto;
}

.profile-box:hover {
  transform: scale(1.2);
  z-index: 3;
}

.profile-box .extra-info {
  top:41%;
  overflow: hidden;
  transition:all 0.5s ease-in;
  transition: all 0.2s ease-out;
  opacity: 0;
  position: absolute;
  left: 70px;
  font-size: 10px;
  color: #637e63;
}

.profile-box:hover .extra-info {
  opacity: 1;
}

.profile-box .profile-button {
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition: all 0.2s ease-out;
  position: absolute;
  top: 78%;
  left: 20%;
  width:124px;
  height: 30px;
  font-size: 14px;
  padding: 0px 0px;
  font-weight:bold;
  color: #4d5f4d;
}

.profile-box:hover .profile-button {
  opacity: 1;
  background-color: #74c078;
}

